/**
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 */
table.table {
	table-layout: fixed;
	width: 1px;
}

col:first-child {
	width: 200px;
}

col {
	width: 50px;
}

th {
	transform: translate(12px,0px) rotate(-35deg);
	font-weight: normal;
}

tbody tr {
	height: 0;
}

td:first-child {
	height: 50px !important;
	padding: 8px !important;
}

td {
	height: 100% !important;
	padding: 4px !important;
	vertical-align: middle !important;
}

div.aiotml-testcase-result {
	height: 100%;
    border-radius: 4px;
    font-size: 29px;
    text-align: center;
    color: white;
}

div.aiotml-testcase-result.has-failure {
	cursor: pointer;
}